.table-title {
    font-size: 1.5rem;
    font-weight: 500;

  }

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      z-index: -1;
      background-color: rgba(#3a98ce, 0.2);
      border-radius: 5px;
    }
  }

  .action-link {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    color: inherit;
    text-decoration: none;
    color: rgb(0, 110, 255);
  }

  .edit-icon {
    color: blue;
  }

  .delete-icon {
    color: red;
  }

  .action-link:hover {
    text-decoration: underline;
  }

  .action-link mat-icon {
    margin-right: 4px;
  }
