<h1 mat-dialog-title>ABM Asignaturas</h1>
<div mat-dialog-content>
  <form class="grid formgrid" [formGroup]="classSubjectsForm">
    <p class="name-title">Asignatura</p>
    <div class="col-12 field input-row">
      <mat-form-field class="w-full">
        <mat-label>Titulo</mat-label>
        <input [formControl]="titleControl" type="text" matInput />
        <mat-error *ngFor="let error of titleControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
    </div>

    <p class="name-title">Detalles</p>
    <div class="col-12 field input-row">
      <mat-form-field class="w-full firstInput">
        <mat-label>Tiempo por cada clase (horas)</mat-label>
        <input [formControl]="timePerClassControl" type="text" matInput />
        <mat-error *ngFor="let error of timePerClassControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Total de clases</mat-label>
        <input [formControl]="totalClassesControl" type="number" matInput class="no-spinners" />
        <mat-error *ngFor="let error of totalClassesControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 field input-row">
      <mat-form-field class="w-full firstInput">
        <mat-label>Clases por semana</mat-label>
        <input [formControl]="classesPerWeekControl" type="number" matInput class="no-spinners" />
        <mat-error *ngFor="let error of classesPerWeekControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Dificultad</mat-label>
        <input [formControl]="difficultyControl" type="text" matInput />
        <mat-error *ngFor="let error of difficultyControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="createClassSubject()" mat-button>Guardar</button>
</div>