<div class="mb-3">
    <section class="table-header">
      <p class="table-title">Asignaturas:</p>
      <button (click)="openABMClassSubject()" color="primary" mat-flat-button>
        <mat-icon>add</mat-icon>
        Agregar Asignatura
      </button>
    </section>
    <br>
    <hr>
  </div>

  <mat-form-field class="w-full">
    <mat-label>Filtrar (ejemplo: Nombre de la clase)</mat-label>
    <input matInput (keyup)="filter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <h4>Cantidad de clases: {{totalClassSubjects$ | async}}</h4>
  <mat-checkbox (change)="toggleSortByName($event.checked)">Ordenar por nombre</mat-checkbox>

  <!--ClassSubject Columns-->
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px'}">Id</th>
      <td mat-cell *matCellDef="let classSubject"> {{classSubject.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px'}">Nombre</th>
      <td mat-cell *matCellDef="let classSubject"> {{classSubject.title}} </td>
    </ng-container>

    <ng-container matColumnDef="timePerClass">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px'}">Tiempo por cada clase</th>
      <td mat-cell *matCellDef="let classSubject"> {{classSubject.timePerClass}} </td>
    </ng-container>

    <ng-container matColumnDef="totalClasses">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px'}">Total de clases</th>
      <td mat-cell *matCellDef="let classSubject"> {{classSubject.totalClasses}} </td>
    </ng-container>

    <ng-container matColumnDef="classesPerWeek">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px'}">Clases por semana</th>
      <td mat-cell *matCellDef="let classSubject"> {{classSubject.classesPerWeek}} </td>
    </ng-container>

    <ng-container matColumnDef="difficulty">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px'}">Dificultad</th>
      <td mat-cell *matCellDef="let classSubject"> {{classSubject.difficulty}} </td>
    </ng-container>

    <ng-container matColumnDef="delete/modify">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px'}">Acciones</th>
      <td mat-cell *matCellDef="let classSubject">
        <a href="#" class="action-link" (click)="modifyClassSubject(classSubject); $event.preventDefault()">
          <mat-icon class="edit-icon">edit</mat-icon>
          Modificar
        </a>
        <a href="#" class="action-link" (click)="deleteClassSubject(classSubject); $event.preventDefault()">
          <mat-icon class="delete-icon">delete</mat-icon>
          Eliminar
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let classSubject; columns: displayedColumns;"></tr>
  </table>
