<h1 mat-dialog-title>ABM Alumnos</h1>
<div mat-dialog-content>
  <form class="grid formgrid" [formGroup]="studentsForm">

    <p class="name-title">Nombres</p>
    <div class="col-12 field input-row">
      <mat-form-field class="w-full firstInput">
        <mat-label>Primer Nombre</mat-label>
        <input
          [formControl]="firstName1Control"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of firstName1Control.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Segundo Nombre</mat-label>
        <input
          [formControl]="firstName2Control"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of firstName2Control.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>

    <p class="name-title">Apellidos</p>
    <div class="col-12 field input-row">
      <mat-form-field class="w-full firstInput">
        <mat-label>Primer Apellido</mat-label>
        <input
          [formControl]="lastName1Control"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of lastName1Control.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Segundo Apellido</mat-label>
        <input
          [formControl]="lastName2Control"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of lastName2Control.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>

    <p class="name-title">Contacto</p>
    <div class="col-12 field input-row">
      <mat-form-field class="w-full firstInput">
        <mat-label>Telefono</mat-label>
        <input
          [formControl]="phoneControl"
          type="text"
          matInput
          type="number"
          class = "no-spinners"
        >
        <mat-error *ngFor="let error of phoneControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input
          [formControl]="emailControl"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="save()" mat-button>Guardar</button>
</div>
