.dashboard-container {
  height: 100vh;
}

.dashboard-sidenav-content {
  main {
    padding: 1rem;
  }
}

.dashboard-sidenav {
  padding: 20px;
}

.sidenav-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidenav-title {
  font-size: 1.5em;
}
