.dashboard-container {
  height: 100vh;
}

.dashboard-sidenav-content {
  main {
    padding: 1rem;
  }
}

.dashboard-sidenav {
  padding: 20px;
  overflow-y: hidden;
}

.sidenav-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-title {
  font-size: 1.5em;
}

.sidenav-container {
  flex: 1;
  overflow-y: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidenav-login {
  .login-button-container {
    display: flex;
    justify-content: center;
  }
}
