<mat-drawer-container class="dashboard-container" autosize>

  <!-- Sidebar -->
  <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <span class="sidenav-title">Elije una opcion</span>
    <mat-divider></mat-divider>
    <br>
    <section class = "sidenav-buttons">
      <button mat-button color="primary">
        Alumnos
      </button>
      <button mat-button disabled>
        Profesores
      </button>
      <button mat-button disabled>
        Clases
      </button>
    </section>
  </mat-drawer>

  <!--Main-->
  <div class="dashboard-sidenav-content">
    <!-- Toolbar  -->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>ABM de Alumnos</span>
    </mat-toolbar>

    <!-- Main Content -->
    <main>
      <app-table></app-table>
    </main>
  </div>
</mat-drawer-container>
