<mat-drawer-container class="dashboard-container" autosize>
  <!-- Sidebar -->
  <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <div class="sidenav-wrapper">
      <span class="sidenav-title">Elije una opcion</span>
      <mat-divider></mat-divider>
      <div class="sidenav-container">
        <mat-nav-list>
          <ng-container *ngFor = "let link of links">
            <a mat-list-item *ngIf="!(link.path === 'users' && !(authService.isAdmin() | async))" [routerLink]="link.path"> <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon> {{link.title}}</a>
          </ng-container>
        </mat-nav-list>
        <section class="sidenav-login">
          <div class="login-button-container">
            <button mat-raised-button color="accent" (click)="onLogout()">Cerrar Sesion</button>
          </div>
        </section>
      </div>
    </div>
  </mat-drawer>
  <!--Main-->
  <div class="dashboard-sidenav-content">
    <!-- Toolbar  -->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Proyecto Final - Coderhouse - Andres Osuna</span>
    </mat-toolbar>

    <!-- **PAGES** -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
